<section>
  <main>
    <div class="door">

    </div>
  </main>
</section>
<section>
  <form action='/login' method='POST'>
    <label>Login Page</label>
    <br>
    <label for="email">Email address:</label>
    <input type="email" name="email" placeholder="Enter your email" />
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter your password" />
    <br>
    <button type="submit">submit</button>
  </form>
</section>